---
---
<footer id="footer">
    <section class="footer-section">
    <h2><u>¿Querés contactarme?</u></h2>
    <p><a href="joaquindominguez03@email.com">joaquindominguez03@gmail.com</a></p>
    <div class="socials">
        <a href="https://github.com/DOMINGUEZJOACOO" target="_blank">GitHub</a>
        <a href="https://www.instagram.com/joaquinn.dd" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/joaquin.dominguez.1048/" target="_blank">Facebook</a>
      </div>
    </section>
</footer>
<style>
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: #7899d6;
    }
    .footer-section a{
        color: #0E357D;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }
    .footer-section a:hover{
        color: #61dafb;
    }