---
---

<section id="projects" class="projects-section">

    <h2><u>Mis Proyectos</u></h2>
    <div class="projects-cards">
        <div class="project">
            <h3>BibliotechInnovators</h3>
            <p>
                Gestor de bibliotecas en el que se automatizaron tareas como entrega, devolución y búsqueda de libros.
            </p>
        </div>
        <div class="project">
            <h3>INFO-DOC</h3>
            <p>
                Aplicación web para agilizar y mejorar la obtención de turnos médicos en hospitales.
            </p>
        </div>

        <style>
            .projects-section {
                padding: 2rem;
                background-color: #EBBD67;
                text-align: center;
            }
            .projects-section h2 {
                color: #0E357D;
                margin-bottom: 1rem;
            }

            .projects-cards {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
            }

            .project {
                background-color: #d2b48c;
                border-radius: 8px;
                padding: 1rem;
                margin: 1rem;
                width: 30%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }

            .project h3 {
                color: #000;
            }
        </style>

</section>