---
---
<section id="tech"class="tecnologies-section">
    <div class="tecnologies">
        <h2><u>Tecnologías</u></h2> 
    </div>

    <h3><i>Lenguajes</i></h3>
    <div class="lenguages">
        <div>
            <img src="/public/html5.svg" alt="HTML" class="logos" />
            <p>HTML</p>
        </div>
        <div>
            <img src="/public/css3.svg" alt="CSS" class="logos" />
            <p>CSS</p>
        </div>
        <div>
            <img src="/public/js.svg" alt="JavaScript" class="logos" />
            <p>JavaScript</p>
        </div>

        <div>
            <img src="/public/py.svg" alt="Python" class="logos" />
            <p>Python</p>
        </div>
    </div>
    <h3>Frameworks</h3>
    <div class="lenguages">
        <div>
            <img src="/public/favicon.svg" alt="Astro" class="logos" />
            <p>Astro</p>
        </div>
        <div>
            <img src="/public/flask.svg" alt="Flask" class="logos" />
            <p>Flask</p>
        </div>
        
    </div>
</section>

<style>
    .tecnologies {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .tecnologies-section {
        padding: 0rem;
        background-color: #EBBD67;
        text-align: center;
    }

    .tecnologies-section h2 {
        color: #0E357D;
    }

    .tecnologies-section img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-bottom: 1rem;
        
    }
 

  
    .lenguages{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .lenguages p{
        color: #000;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .lenguages div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #d2b48c;
        border-radius: 8px;
        padding: 1rem;
        margin: 1rem;
        width: 20%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .tecnologies-section h3{
        color: #0E357D;
        font-size: 1.5rem;
        margin-top: 2rem;
        text-align: left;
        margin-left: 9.5rem;
    }
    
</style>